<!--Side-Nav-->
<div class="sidenav">
    <nav class="navbar navbar-dark bg-black">

        <!--Side-Nav Search Bar -->
        <form class="form-inline md-form form-sm">
            <input class="form-control form-control-sm mr-3 w-80" id="search" type="text" placeholder="Search" aria-label="Search"
                style="margin-bottom: 20px">
            <button id="searchButton" style="background-color:transparent"><i class="fa fa-search" style="color:white; font-size: 25px;margin-bottom: 20px" aria-hidden="true"></i></button>
        </form>
    </nav>

    <!--Side-Nav Categories -->
    <div class="dropdown-btn">Categories
        <i class="fa fa-caret-down"></i>
    </div>
    <div class="dropdown-container"> 
        <a href="#"class="categoryOption" id="appetizers">Appetizers</a>
        <button class="dropdown-btn">Entrees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" class="categoryOption" id="beef">Beef</a>
            <a href="#" class="categoryOption" id="chicken">Chicken</a>
            <a href="#" class="categoryOption" id="lamb">Lamb</a>
            <a href="#" class="categoryOption" id="pork">Pork</a>
            <a href="#" class="categoryOption" id="seafood">Seafood</a>
            <a href="#" class="categoryOption" id="vegan">Vegan</a>
            <a href="#" class="categoryOption" id="vegetarian">Vegetarian</a>
        </div>
        <a href="#" class="categoryOption" id="drink">Drink</a>
        <a href="#"class="categoryOption" id="side">Sides</a>
        <a href="#" class="categoryOption" id="dessert">Dessert</a>
    </div>
    <button class="dropdown-btn">Themes
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Popular</a>
        <a href="#">Holiday</a>
        <a href="#">Kids</a>
    </div>
</div>

<!--Page Header-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-right">

            <!--View Selections Button-->
            <li><button type="button" class="btn btn-dark"><a href="#" style="color:white">
                        View [Party-Name] Selections</a></button></li>
        </ul>
    </div>
</nav>
<div class="main" style="text-align: center;">
    <h1>Build Your Own Theme</h1>
    <br>

    <!--Search Bar Results Section-->
    <div id ="results">
    <p id="title"></p>
    </div>
    <br>

                    <!--Scripts-->
     <script src="/js/build.js"></script>
     