<!--Side-Nav-->
<div class="sidenav">
    <nav class="navbar navbar-dark bg-black">

        <!--Side-Nav Search Bar -->
        <form class="form-inline md-form form-sm">
            <input class="form-control form-control-sm mr-3 w-80" type="text" placeholder="Search" aria-label="Search"
                style="margin-bottom: 20px">
            <i class="fa fa-search" style="color:white; font-size: 25px;margin-bottom: 20px" aria-hidden="true"></i>
        </form>
    </nav>

    <!--Side-Nav Categories -->
    <button class="dropdown-btn">Categories
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#clients">Appetizers</a>
        <button class="dropdown-btn">Entrees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#">Beef</a>
            <a href="#">Chicken</a>
            <a href="#">Goat</a>
            <a href="#">Pork</a>
            <a href="#">Seafood</a>
            <a href="#">Vegan</a>
            <a href="#">Vegetarian</a>
        </div>
        <a href="#clients">Drink</a>
        <a href="#clients">Sides</a>
        <a href="#clients">Dessert</a>
    </div>
    <button class="dropdown-btn">Themes
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="#">Popular</a>
        <a href="#">Holiday</a>
        <a href="#">Kids</a>
    </div>
</div>

<!--Page Header-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-right">

            <!--View Selections Button-->
            <li><button type="button" class="btn btn-dark"><a href="#" style="color:white">
                        View [Party-Name] Selections</a></button></li>
        </ul>
    </div>
</nav>
<div class="main" style="text-align: center;">
    <h1>Build Your Own Theme</h1>
    <br>

    <!--Search Bar Results Section-->
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="card-deck">
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="card-deck">
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><button><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
                <div class="card">
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5><i class="fa fa-plus-circle"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <br>

                    <!--Scripts-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="/js/build.js"></script>
                  