<div class="container-fluid">
    <br></br>
    <div class="row justify-content-md-center">
        <h1 class="animated flipInX display-1 d-inline pb-1 pt-5 text-white" style="font-family:'Sofia', cursive;">
            Ideal Soiree</h1>
    </div>
    <div class="row justify-content-md-center">
        <h5 class="animated lightSpeedIn display-4 d-inline pb-4 text-white">Idea generation aid for party planners.
        </h5>
    </div>
    <div class="animated flipInX delay-1s row justify-content-md-center pb-5">
        <a href="/themes"><button type="button" id="view-themes" class="btn btn-outline-light m-2"
                style="background-color: #d78c26" data-container="body" data-toggle="popover" data-placement="left"
                data-content="Check out our ready-made party themes to get your start.">VIEW PARTY
                THEMES</button></a>
        <button type="button" id="build-themes" class="btn btn-outline-light m-2" style="background-color: #d78c26"
            data-container="body" data-toggle="modal" data-target="#exampleModal" data-placement="right"
            data-content="Search categories to create you own theme.">BUILD A THEME</button>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a Theme Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="myform">
                    <div class="form-row">
                        <div class="col">
                            <label for="validationServer01">Your Theme Name</label>
                            <input type="text" class="form-control" name="theme_name" id="theme_name"
                                placeholder="Be Creative!">
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            <label for="validationServer02">Theme Description (Optional)</label>
                            <input type="text" class="form-control" name="theme_description" id="theme_description"
                                placeholder="Give it a clever tag line">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="submitTheme" type="button"
                            class="btn btn-warning text-white">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>