<body>
    <div class="container-fluid">
        <br></br>
        <div class="row justify-content-md-center">
            <h1 class="animated flipInX display-1 d-inline pb-1 pt-5 text-white" style="font-family:'Sofia', cursive;">
                Ideal Soiree</h1>
        </div>
        <div class="row justify-content-md-center">
            <h5 class="animated lightSpeedIn display-4 d-inline pb-4 text-white">Idea generation aid for party planners.
            </h5>
        </div>
        <div class="animated flipInX delay-1s row justify-content-md-center pb-5">
            <button type="button" id="view-themes" class="btn btn-outline-light m-2" style="background-color: #d78c26"
                data-container="body" data-toggle="popover" data-placement="left"
                data-content="Check out our ready-made party themes to get your start.">VIEW PARTY THEMES</button>
            <button type="button" id="build-themes" class="btn btn-outline-light m-2" style="background-color: #d78c26"
                data-container="body" data-toggle="popover" data-placement="right"
                data-content="Search categories to create you own theme.">BUILD A THEME</button>
        </div>
    </div>
</body>
<!-- BOOTSTRAP JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
